/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.loader{
    width:300px;
    height:300px;
    border:3px solid black;
    position:absolute;
    left:0;
    top:0;
  }